table
{
    position: absolute;
    left:74%;
    top:50%;
    margin:auto;
    width: 15vw;
    height: 10vh;
    font-size: 3vh;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
li
{
    font-size: 3vh;
}
h4
{
    position: absolute;
    left:74%;
    top:30%;
    margin:auto;
    width: 15vw;
    height: 10vh;
    font-size: 3vh;
    transform: translate(-50%, -50%);
}
#gif
{
    display:none;
    position: fixed;
    border:solid;
    border-radius: 50px;
    left:50%;
    top:50%;
    margin:auto;
    width: 30vw;
    height: 40vh;
    padding: 10px;
    transform: translate(-50%, -50%);
}
th,td
{
  border: 1px solid black;
  padding: 1px;
  text-align: center;
}
#range
{
    position:absolute;
    top: 0px;
    left: 0px;
    cursor:crosshair;
    width: 100%;
    height: 90%;
}
#img1 
{
    position:absolute;
    top: 40%;
    right: 0%;
    width: 5%;
    user-select: none;
}
#score
{
    position: relative;
    top: 0%;
    margin:auto;
    width: 100vw;
    height: 6vh;
    font-size: 3vh;
    font: normal cartoon, verdana, sans-serif;
    color:black;
    padding: 10px;
    background-color: blue;
    border: solid;
    user-select: none;
    
}
#greeting
{
    display:block;
    position: absolute;
    left:80%;
    top:10%;
    font-size:5vh;
    user-select: none;
    text-align: center;
    color:black;
}
#cloud_heading
{
    position: absolute;
    left:80%;
    top:25%;
    font-size:2em;
    user-select: none;
    text-align: center;
    color:black;
}
.br-color
{
   background-color: darkgreen;
}
#play-me
{
    position: fixed;
    text-align:center;
    padding:10px;
    margin:auto;
    width: 15vw;
    height: 8vh;
    font-size: 5vh;
    border: solid;
    left: 50%;
    top: 70%;
    background-color: blueviolet;
    display:inline-block;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
#stop-me
{
    position:absolute;
    margin:auto;
    width: 15vw;
    height: 4vh;
    border: solid;
    top:2%;
    left:85%;
    font-size:3vh;
    background-color:red;
    display:none;
    user-select: none;
}
#menu{
    position: absolute;
    color:white;
    background-color: black;
    border-radius: 6px;
    padding: 10px;
    margin:auto;
    width: 5vw;
    height: 5vh;
    font-size: 2vh;
    top: 2%;
    left:75%;
    display:none;
    user-select: none;
}
#timer
{
    position: absolute;
    margin:auto;
    width: 15vw;
    height: 4vh;
    font-size: 3vh;
    border: solid;
    left:55%;
    top:2%;
    background-color:grey;
    user-select: none;
    text-align: center;
}
#game-title
{
    position: fixed;
    border:solid;
    border-radius: 6px;
    left:50%;
    top:50%;
    margin:auto;
    width: 20vw;
    height: 10vh;
    font-size: 7vh;
    text-align:center;
    background-color: darkred;
    font: normal cartoon, verdana, sans-serif;
    color:white;
    padding: 10px;
    transform: translate(-50%, -50%);
}
#suggestion-alert
{
    position: fixed;
    border:solid;
    border-radius: 6px;
    left:50%;
    top:90%;
    background-color:black;
    margin:auto;
    width: 10vw;
    height: 5vh;
    font-size: 2vh;
    font: normal cartoon, verdana, sans-serif;
    color:white;
    padding: 10px;
    transform: translate(-50%, -50%);
}
.high-scores-parent
{
    margin: auto;
}
#high-scores-heading
{
    position:absolute;
    top:20%;
    margin:auto;
    width: 15vw;
    height: 8vh;
    font-size: 3vh;
    border:solid;
    background-color: yellow;
    text-align: center;
    font: normal cartoon, verdana, sans-serif;
    color: red;
}
#high-scores
{
    position:absolute;
    top:30%;
    left:1%;
    margin:auto;
    width: 15vw;
    height: 10vh;
    font-size: 3vh;
    text-align: center;
    font: normal cartoon, verdana, sans-serif;
    margin: auto;
}
#register
{
    position: absolute;
    top:40%;
    left:1%;
    text-align: center;
    color:black;
    margin:auto;
    border:solid;
    border-radius: 6px;
    width: 15vw;
    height: 8vh;
    font-size: 3vh;
    background-color: grey;
}
#login_button
{
    position: absolute;
    top:50%;
    left:1%;
    text-align: center;
    color:black;
    margin:auto;
    border:solid;
    border-radius: 6px;
    width: 15vw;
    height: 10vh;
    font-size: 7vh;
    background-color: grey;
}
#timed-out
{
    position: absolute;
    left:50%;
    top:30%;
    font: 30px normal cartoon, verdana, sans-serif;
    color:white;
    background-color: navy;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
#form
{
    width: 30vw;
    height: 65vh;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff;
    top:50%;
    left:50%;
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
}
#form_login
{
    width: 30vw;
    height: 47vh;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff;
    top:50%;
    left:50%;
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
}
label{
    width: 25vw;
    font-size: 3vh;  
}
#username-label{
    width: 25vw;
    font-size: 1.80vh;
}
#password-label{
    width: 25vw;
    font-size: 1.80vh;
}
input[type=text] 
{
    width:30vw;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:4vh;
    font-family:raleway;
}
input[type="password"] 
{
    width:30vw;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:4vh;
    font-family:raleway;
}
#submit
{
    position: relative;
    width: 15vw;
    height: 5vh;
    font-size: 4vh;
    top:10%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#login{
    position: relative;
    width: 15vw;
    height: 5vh;
    font-size: 4vh;
    top:10%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#X
{
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
    font-size: 4vh;
    border-radius: 10px;
}
#high_score_db
{
    width:25vw;
    height:30vh;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    font-size: 4vh;
    background-color:#fff;
    display: none;
    padding: 5%;
    top:50%;
    left:50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
#text_center
{
    top:20%;
    left:50%;
    position: fixed;
    padding: 5px;
    font-size: 4vh;
    transform: translate(-50%, -50%);
}
#show_score_num
{
    top:50%;
    left:50%;
    position: fixed;
    padding:5px;
    font-size: 4vh;
    transform: translate(-50%, -50%);
}
#message_hs
{
    position:relative;
    top:80%;
    font-size:3vh;
}
#message{
    position:relative;
    font-size: 4vh;
    top:15%;
}
#message_login{
    position:relative;
    font-size: 4vh;
    top:15%;
}
#hs_db_sub
{
    position: absolute;
    top:75%;
    left:50%;
    font-size: 4vh;
    width:10vw;
    height:5vh;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
#back-home
{
    position: absolute;
    top: 90%;
    left: 2%;
    color:white;
    background-color: black;
    border-radius: 6px;
    padding: 10px;
    margin:auto;
    width: 12vw;
    height: 8vh;
    font-size: 3vh;
}
#alert 
{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    display:none;
    font-size: 7vh;
    height:9vh;
}
#alert-hard
{
    position:absolute;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    bottom: 5%;
    display:none;
    font-size: 7vh;
    height:9vh;
}
#alert-expert
{
    position:absolute;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    bottom: 5%;
    display:none;
    font-size: 7vh;
    height:9vh;
}
#choose-sec{
    position: absolute;
    top:85%;
    right:7%;
    display:block;
}

#sec-style30{
    color:white;
    background-color: black;
    border-radius: 6px;
    padding: 10px;
    margin:10px;
    width: 10vw;
    height: 6vh;
    font-size: 2vh;
}
#sec-style60{
    color:white;
    background-color: black;
    border-radius: 6px;
    padding: 10px;
    margin:10px;
    width: 10vw;
    height: 6vh;
    font-size: 2vh;
}
#sec-style90{
    color:white;
    background-color: black;
    border-radius: 6px;
    padding: 10px;
    margin:10px;
    width: 10vw;
    height: 6vh;
    font-size: 2vh;
}
#time-limit-heading{
    margin:auto;
    width: 15vw;
    height: 4vh;
    font-size: 3vh;
    transform: translate(-50%, -50%);
}